<div class="jumbotron custom-jumbo">
  <div class="container">
    <div class="row">
      <div class ="col-xs-6">
        <div class="welcome-text">
          <h1>Chelsea</h1> <span class="block-text" id="home-page">Blog</span> <h1>Life</h1>
          <p>Welcome to my world</p>
        </div>
      </div>
    </div>
  </div>
</div>
