<ul class="w3-navbar w3-black w3-hide-small">
  <li><%=link_to 'HOME', root_path%></li>
  <li><%=link_to 'ABOUT', about_path%></i></li>
  <li><%=link_to 'ARTICLES', articles_path%></i></li>
  <li><%=link_to 'NEW POST', new_article_path%></i></li>
  <li class="w3-right"><a href="#"><i class="fa fa-search"></i></a></li>
</ul>